<a href="https://colab.research.google.com/github/LiFeLeSS5858/Diplom2024/blob/main/index_search.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
pip install geopy

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: geopy in /usr/local/lib/python3.10/dist-packages (2.3.0)
Requirement already satisfied: geographiclib<3,>=1.52 in /usr/local/lib/python3.10/dist-packages (from geopy) (2.0)

In [ ]:
import pandas as pd
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
file = '/content/drive/MyDrive/Diplom/index2017.xlsx'
xl = pd.ExcelFile(file)

In [ ]:
print(xl.sheet_names)

['Sheet1']

In [ ]:
df1= xl.parse('Sheet1')

In [ ]:
file = '/content/drive/MyDrive/Diplom/index.xlsx'
xl2 = pd.ExcelFile(file)

In [ ]:
print(xl2.sheet_names)

['Аркуш1']

In [ ]:
df2= xl2.parse('Аркуш1')

In [ ]:
df2.iloc[150,4]

'МОСКВА'

In [ ]:
for i in range(len(df1)):
  for j in range(len(df2)):
    if df1.iloc[i,18]==df2.iloc[j,0]:
      df1.iloc[i,20]=df2.iloc[j,4]
      df1.iloc[i,21]=df2.iloc[j,7]
      break

In [ ]:
df1

,ГОД,ID,Н_1,Н_2,Н_3,ПОДЛИННИК,СУММА ЕГЭ,РУССКИЙ ЯЗЫК,МАТЕМАТИКА,ГЕОГРАФИЯ,...,ХИМИЯ,ФИЗИКА,ФРАНЦУЗСКИЙ ЯЗЫК,ИКТ,ОБЩЕЖИТИЕ,ИНДЕКС,СТРАНА,ОБЛАСТЬ,ГОРОД,КООРДИНАТЫ
0,2017,2017_4,АВИАСТРОЕНИЕ,ЯДЕРНЫЕ ФИЗИКА И ТЕХНОЛОГИИ,ИНФОРМАЦИОННЫЕ СИСТЕМЫ И ТЕХНОЛОГИИ,NaN,158.0,71,45,0,...,0,42,0,42,НЕТ,141981.0,РОССИЯ,МОСКОВСКАЯ ОБЛАСТЬ,ДУБНА,"[56.7362705, 37.1623696]"
1,2017,2017_5,ПРИКЛАДНАЯ ИНФОРМАТИКА_ЦЕЛЕВОЙ,ИНФОРМАТИКА И ВЫЧИСЛИТЕЛЬНАЯ ТЕХНИКА,ИНФОРМАЦИОННЫЕ СИСТЕМЫ И ТЕХНОЛОГИИ,ПРИКЛАДНАЯ ИНФОРМАТИКА_ЦЕЛЕВОЙ,174.0,73,39,0,...,0,0,0,62,НЕТ,141960.0,РОССИЯ,МОСКОВСКАЯ ОБЛАСТЬ,ТАЛДОМ,"[56.730941, 37.528016]"
2,2017,2017_6,КИТЭС_ПТРС,ФУНД.ИНФОРМАТИКА И ИНФ.ТЕХНОЛОГИИ,АВТОМАТИЗАЦИЯ ТЕХ.ПРОЦЕССОВ И ПРОИЗВОДСТВ,КИТЭС_ПТРС,145.0,45,45,0,...,0,0,0,55,ДА,682800.0,РОССИЯ,ХАБАРОВСКИЙ КРАЙ,СОВЕТСКАЯ ГАВАНЬ,"[48.9663026, 140.284958]"
3,2017,2017_9,ИНФОРМАТИКА И ВЫЧИСЛИТЕЛЬНАЯ ТЕХНИКА,ПРОГРАММНАЯ ИНЖЕНЕРИЯ,ПРИКЛАДНАЯ ИНФОРМАТИКА,NaN,182.0,57,68,0,...,0,0,0,57,НЕТ,171504.0,РОССИЯ,ТВЕРСКАЯ ОБЛАСТЬ,КИМРЫ,"[56.8734395, 37.3556968]"
4,2017,2017_10,ИНФОРМАТИКА И ВЫЧИСЛИТЕЛЬНАЯ ТЕХНИКА,ИНФОРМАЦИОННЫЕ СИСТЕМЫ И ТЕХНОЛОГИИ,ПРОГРАММНАЯ ИНЖЕНЕРИЯ_ЦЕЛЕВОЙ,ПРОГРАММНАЯ ИНЖЕНЕРИЯ_ЦЕЛЕВОЙ,174.0,73,50,0,...,0,0,0,51,НЕТ,141981.0,РОССИЯ,МОСКОВСКАЯ ОБЛАСТЬ,ДУБНА,"[56.7362705, 37.1623696]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
652,2017,2017_396,СОЦИАЛЬНАЯ РАБОТА,ЮРИСПРУДЕНЦИЯ_ОПЛАТА,NaN,NaN,NaN,76,0,0,...,0,0,0,0,НЕТ,141960.0,РОССИЯ,МОСКОВСКАЯ ОБЛАСТЬ,ТАЛДОМ,"[56.730941, 37.528016]"
653,2017,2017_482,СОЦИОЛОГИЯ_ОПЛАТА,ГОСУДАРСТВЕННОЕ И МУНИЦИПАЛЬНОЕ УПРАВЛЕНИЕ_ОПЛ...,NaN,NaN,NaN,70,27,0,...,0,0,0,0,НЕТ,141986.0,РОССИЯ,МОСКОВСКАЯ ОБЛАСТЬ,ДУБНА,"[56.7362705, 37.1623696]"
654,2017,2017_394,СОЦИАЛЬНАЯ РАБОТА,NaN,NaN,NaN,NaN,48,0,0,...,0,0,0,0,ДА,393274.0,РОССИЯ,ТАМБОВСКАЯ ОБЛАСТЬ,ПОДОСКЛЯЙ,"[52.5844299, 41.7018875]"
655,2017,2017_387,ГОСУДАРСТВЕННОЕ И МУНИЦИПАЛЬНОЕ УПРАВЛЕНИЕ_ОПЛ...,NaN,NaN,NaN,NaN,72,68,0,...,0,0,0,0,НЕТ,141980.0,РОССИЯ,МОСКОВСКАЯ ОБЛАСТЬ,ДУБНА,"[56.7362705, 37.1623696]"
656,2017,2017_1187,СОЦИАЛЬНАЯ РАБОТА,СОЦИОЛОГИЯ,NaN,NaN,NaN,0,0,0,...,0,0,0,0,ДА,431030.0,РОССИЯ,МОРДОВИЯ РЕСПУБЛИКА,ТОРБЕЕВО,"[54.074532, 43.245144]"

In [ ]:
from geopy.geocoders import Nominatim
nominatim = Nominatim(user_agent='user')
for i in range(len(df1)):
  place = str(df1.iloc[i,20])+" "+str(df1.iloc[i,21])
  nominatim = Nominatim(user_agent='user')
  try:
    df1.iloc[i,22] = "["+str(nominatim.geocode(place).latitude)+", "+str(nominatim.geocode(place).longitude)+"]"
  except AttributeError:
    df1.iloc[i,22] = str(0)

In [ ]:
df1.to_excel (r'/content/drive/MyDrive/Diplom/index2017.xlsx')